html,
body {
	min-width:320px;
	text-size-adjust:100%;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings:'liga', 'kern';
	-webkit-overflow-scrolling: touch;
	font-synthesis:none;
	direction:ltr;
	text-align:left;
	color:#333;
	font-size:18px;
	line-height:1.4446;
	font-weight:300;
	font-family:$roboto;
	font-style:normal;
	background-color:#fff;
	// font-family:inherit;
    // font-weight:inherit;
	// font-size:inherit;
	// line-height:inherit;
}
