h1, h2, h3, h4, h5, h6 {
	font-family:$pragmatica;
	font-weight:200;
	margin:0 0 .45em 0;
	letter-spacing:-0.016em;
	text-shadow:0 0 0 #333, 0 0 0 #333;
	transform:scale3d(1, 1.02, 1);
}
*+h1, *+h2, *+h3, *+h4, *+h5, *+h6 {
    margin-top:1em;
}
p {
    margin:0 0 1em 0;
}
a {
	color:#0084ff;
	text-decoration:none;
}
h2 {
	color:$black_gray;
	font-size:42px;
	line-height:1.09091;
	padding-bottom:11px;
}
.page {
    overflow:hidden;
}
.intro {
	font-size:21.5px;
    line-height:36.5px;
    letter-spacing:-0.016em;
}
.section-intro {
    padding:110px 0 138px;
	text-align:center;
}
.container-full {
	width:100%;
}
.center-block {
	float:none;
}

@media only screen and (max-width: $md-width){
	h2 {
		font-size:40px;
		line-height:42px;
	}
}
@media only screen and (max-width: $xs-width){
	.section-intro {
		padding:70px 0 32px;
	}
	h2 {
		color:#333;
		font-size:32px;
		line-height:36px;
	}
	.intro {
		font-size:20px;
	    line-height:29px;
		letter-spacing:0em;
	}
}
