.home__grid {
    margin:0;
    padding-bottom:80px;
}
.home__grid__item {
    margin-left: 0;
    margin-right: 1.16732%;
    position: relative;
    z-index: 1;
    width: 48.83268%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding:90px 0;
    margin-bottom: 2.33463%;

    &--right {
        margin-left:1.16732%;
        margin-right:0;
        float:right;
    }
    &__bg__ddeef4 {
        background-color:#ddeef4;
    }
    &__bg__effafe {
        background-color:#effafe;
    }
    &__bg__f4f9fc {
        background-color:#f4f9fc;
    }
    &__bg__d4e4e9 {
        background-color:#d4e4e9;
    }
    &__bg__f8f8f8 {
        background-color:#f8f8f8;
    }
    &__bg__fbf2e7 {
        background-color:#fbf2e7;
    }
    &__bg__fffaee {
        background-color:#fffaee;
    }
    &__bg__fffcf4 {
        background-color:#fffcf4;
    }
    &__bg__feebe0 {
        background-color:#feebe0;
    }
    &__bg__e9edfb {
        background-color:#e9edfb;
    }
    &__bg__d1e9ea {
        background-color:#d1e9ea;
    }
    &__bg__f0f6f4 {
        background-color:#f0f6f4;
    }
    &__bg__e5f4f5 {
        background-color:#e5f4f5;
    }
    &__bg__edf8f5 {
        background-color:#edf8f5;
    }
    &__bg__e4f5f2 {
        background-color:#e4f5f2;
    }
    &__iphone {
        width:351px;
        height:660px;
        background-size:351px 660px;
        background-repeat:no-repeat;
        background-image:url("/assets/images/hardware_full_silver_large.png");
        margin-left:-175.5px;
        margin-top:-11px;
        margin-bottom:-40px;

        &__screen {
            float:left;
            width:260px;
            height:462px;
            background-size:260px 462px;
            background-repeat:no-repeat;
            transform:translate(47px, 86px);
        }
        &__wrapper {
            position:relative;
            left:50%;
            margin-left:auto;
            margin-right:auto;
            z-index:1;
        }
    }
    &__ipad {
        position:relative;
        left:50%;
        width:947px;
        height:643px;
        background-size:947px 643px;
        background-repeat:no-repeat;
        background-image:url("/assets/images/hardware_ipad_large.png");
        margin-left:-208px;
        z-index:1;

        &__screen {
            width:707px;
            height:530px;
            background-size:707px 530px;
            background-repeat:no-repeat;
            transform:translate(120px, 42px);
        }
        &__wrapper {
            position:relative;
            margin-top:-8px;
            margin-bottom:-37px;
            z-index:1;
        }
        &--top {
            .home__grid__item__text {
                padding-top:36px;
            }
        }
        &--bottom {
            .home__grid__item__text {
                padding-top:0;
                padding-bottom:40px;
            }
        }
    }
    &__text {
        margin:0 auto;
        font-size:21.5px;
        line-height:34px;
        padding-top:57px;
        width:380px;
        letter-spacing:-0.016em;
        text-align:center;
    }
    &__headline {
        display:inline;
        font-family:$myriad;
        font-size:24px;
        line-height:34px;
        font-weight:500;
        letter-spacing:0em;
    }
    &--crop {
        padding:0 0 90px 0;

        .home__grid__item__iphone__wrapper {
            left:0;
            width:100%;
            height:242px;
            overflow:hidden;

            &:before {
                content:"";
                display:block;
                position:absolute;
                top:0;
                left:50%;
                pointer-events:none;
                margin-left:-172px;
                height:249px;
                width:344px;
                background:linear-gradient(to bottom, rgba(51,51,51,0.06) 0%, rgba(51,51,51,0) 100%);
                z-index:2;
            }
            &:after {
                content:"";
                display:block;
                position:absolute;
                bottom:0;
                left:50%;
                pointer-events:none;
                margin-left:-262px;
                height:1px;
                width:524px;
                background:linear-gradient(to right, rgba(214,214,214,0) 0%, rgba(214,214,214,0) 5%, #d6d6d6 15%, #d6d6d6 85%, rgba(214,214,214,0) 95%, rgba(214,214,214,0) 100%);
                z-index:2;
            }
        }
        .home__grid__item__iphone {
            position:relative;
            left:50%;
            width:512px;
            height:924px;
            background-size:512px 924px;
            background-image: url("/assets/images/hardware_crop_silver_large.png");
            margin-left:-256px;
            margin-top:-291px;

            &__screen {
                width:344px;
                height:612px;
                background-size:344px 612px;
                transform:translate(85px, 157px);
            }
        }
        .home__grid__item__text {
            padding-top:36px;
        }
        &_big {
            .home__grid__item__iphone {
                margin-top:-254px;

                &__wrapper {
                    height:329px;
                }
            }
        }
    }
    &--zoom {
        padding:90px 0 0;

        .home__grid__item__iphone {
            position:relative;
            left:50%;
            width:565px;
            height:1032px;
            background-size:565px 1032px;
            background-image:url("/assets/images/hardware_zoom_silver_large.png");
            margin-left:-282.5px;

            &__screen {
                width:388px;
                height:690px;
                background-size:388px 690px;
                transform:translate(88px, 147px);
            }
            &__wrapper {
                left:0;
                width:100%;
                height:567px;
                margin-top:-39px;
                overflow:hidden;

                &:before {
                    content:"";
                    display:block;
                    position:absolute;
                    bottom:0;
                    left:50%;
                    pointer-events:none;
                    margin-left:-194px;
                    height:470px;
                    width:388px;
                    background:linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(51,51,51,0.06) 100%);
                    z-index:2;
                }
            }
        }
        .home__grid__item__text {
            padding-top:0px;
            padding-bottom:62px;
        }

        &.home__grid__item--crop {
            padding:0 0 90px;

            .home__grid__item__iphone {
                position:absolute;
                bottom:0;
                margin-top:0;
                margin-bottom:0;

                &__wrapper {
                    height:698px;
                    margin-top:0;
                    margin-bottom:-88px;

                    &:before {
                        background:linear-gradient(to bottom, rgba(51,51,51,0.06) 0%, rgba(51,51,51,0) 100%);
                    }
                    &:after {
                        display:none;
                    }
                }
            }
            .home__grid__item__text {
                padding-top:61px;
                padding-bottom:0px;
            }
        }
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){
    .home__grid__item__iphone {
        background-image:url("/assets/images/hardware_full_silver_large_2x.png");
    }
    .home__grid__item__ipad {
        background-image:url("/assets/images/hardware_ipad_large_2x.png");
    }
    .home__grid__item--crop {
        .home__grid__item__iphone {
            background-image:url("/assets/images/hardware_crop_silver_large_2x.png");
        }
    }
    .home__grid__item--zoom {
        .home__grid__item__iphone {
            background-image:url("/assets/images/hardware_zoom_silver_large_2x.png");
        }
    }
}
@media only screen and (max-width: $md-width){
    .home__grid__item {
        padding:80px 0;
        margin-right:1.15607%;
        margin-bottom:2.31214%;

        &--right {
            margin-left:1.15607%;
            margin-right:0;
        }
        &__iphone {
            width:282px;
            height:522px;
            background-size:282px 522px;
            background-image:url("/assets/images/hardware_full_silver_medium_2x.png");
            margin-left:-141px;
            margin-top:-17px;
            margin-bottom:-33px;

            &__screen {
                width:200px;
                height:356px;
                background-size:200px 356px;
                transform:translate(40px, 75px);
            }
        }
        &__ipad {
            width:657px;
            height:452px;
            background-size:657px 452px;
            background-image:url("/assets/images/hardware_ipad_medium_2x.png");
            margin-left:-157px;

            &__screen {
                width:480px;
                height:360px;
                background-size:480px 360px;
                transform:translate(89px, 35px);
            }
            &__wrapper {
                margin-top:-13px;
                margin-bottom:-34px;
            }
            &--top {
                .home__grid__item__text {
                    padding-top:40px;
                }
            }
            &--bottom {
                .home__grid__item__text {
                    padding-bottom:40px;
                }
            }
        }
        &__text {
            font-size:20px;
            line-height:29px;
            padding-top:55px;
            width:300px;
        }
        &__headline {
            font-size:22px;
            line-height:29px;
        }
        &--crop {
            padding:0 0 80px 0;

            .home__grid__item__iphone__wrapper {
                height:190px;

                &:before {
                    margin-left:-133.5px;
                    height:161px;
                    width:267px;
                }
                &:after {
                    margin-left:-200px;
                    width:400px;
                }
            }
            .home__grid__item__iphone {
                width:390px;
                height:711px;
                background-size:390px 711px;
                background-image:url("/assets/images/hardware_crop_silver_medium_2x.png");
                margin-left:-195px;
                margin-top:-212px;

                &__screen {
                    width:267px;
                    height:475px;
                    background-size:267px 475px;
                    transform:translate(62px, 110px);
                }
            }
            .home__grid__item__text {
                padding-top:38px;
            }
            &_big {
                .home__grid__item__iphone {
                    margin-top:-186px;

                    &__wrapper {
                        height:254px;
                    }
                }
            }
        }
        &--zoom {
            padding:80px 0 0;

            .home__grid__item__iphone {
                width:547px;
                height:957px;
                background-size:547px 957px;
                background-image:url("/assets/images/hardware_zoom_silver_medium_2x.png");
                margin-left:-273.5px;

                &__screen {
                    width:342px;
                    height:608px;
                    background-size:342px 608px;
                    transform:translate(101px, 156px);
                }
                &__wrapper {
                    height:526px;
                    margin-top:-57px;

                    &:before {
                        margin-left:-171px;
                        height:365px;
                        width:342px;
                    }
                }
            }
            .home__grid__item__text {
                padding-bottom:57px;
            }

            &.home__grid__item--crop {
                padding:0 0 80px;

                .home__grid__item__iphone {
                    position:absolute;
                    bottom:0;
                    margin-top:0;
                    margin-bottom:0;

                    &__wrapper {
                        height:635px;
                        margin-bottom:-96px;
                    }
                }
                .home__grid__item__text {
                    padding-top:57px;
                }
            }
        }
    }
}
@media only screen and (max-width: $xs-width){
    .home__grid__item {
        width:100%;
        padding:80px 0 0;
        margin:0 0 16px 0;

        &--right {
            margin-left:0;
        }
        &__iphone {
            position:relative;
            left:50%;
            width:482px;
            height:832px;
            background-size:482px 832px;
            background-image:url("/assets/images/hardware_zoom_silver_small_2x.png");
            margin-left:-241px;
            margin-top:-13px;
            margin-bottom:-36px;

            &__screen {
                width:290px;
                height:516px;
                background-size:290px 516px;
                transform:translate(95px, 141px);
            }
            &__wrapper {
                position:relative;
                left:0;
                width:100%;
                height:492px;
                -webkit-box-ordinal-group:3;
                -webkit-order:2;
                -ms-flex-order:2;
                order:2;
                margin-left:0;
                margin-right:0;
                margin-top:-42px;
                margin-bottom:-35px;
                overflow:hidden;

                &:before {
                    content:"";
                    display:block;
                    position:absolute;
                    top:auto;
                    bottom:0;
                    left:50%;
                    margin-left:-145px;
                    width:290px;
                    height:316px;
                    background:linear-gradient(to bottom, rgba(51,51,51,0) 0%, rgba(51,51,51,0.06) 100%);
                    pointer-events:none;
                    z-index:2;
                }
            }
        }
        &__ipad {
            width:613px;
            height:436px;
            background-size:613px 436px;
            background-image:url("/assets/images/hardware_ipad_small_2x.png");
            margin-left:-170px;

            &__screen {
                width:491px;
                height:368px;
                background-size:491px 368px;
                transform:translate(61px, 33px);
            }
            &__wrapper {
                margin-top:-5px;
                margin-bottom:-8px;
            }
        }
        &__text {
            // display:none;
        }
        &--crop {
            padding:0 0 80px 0;

            .home__grid__item__iphone__wrapper {
                height:190px;

                &:before {
                    top:auto;
                    bottom:0;
                    margin-left:-145px;
                    height:161px;
                    width:290px;
                }
                &:after {
                    margin-left:-200px;
                    width:400px;
                }
            }
            .home__grid__item__iphone {
                width:482px;
                height:832px;
                background-size:482px 832px;
                background-image:url("/assets/images/hardware_zoom_silver_small_2x.png");
                margin-left:-241px;
                margin-top:-212px;

                &__screen {
                    width:290px;
                    height:516px;
                    background-size:290px 516px;
                    transform:translate(95px, 141px);
                }
            }
            .home__grid__item__text {
                padding-top:38px;
            }
            &_big {
                .home__grid__item__iphone {
                    margin-top:-186px;

                    &__wrapper {
                        height:254px;
                    }
                }
            }
        }
        &--zoom {
            padding:80px 0 0;

            .home__grid__item__iphone {
                width:482px;
                height:832px;
                background-size:482px 832px;
                background-image:url("/assets/images/hardware_zoom_silver_small_2x.png");
                margin-left:-241px;

                &__screen {
                    width:290px;
                    height:516px;
                    background-size:290px 516px;
                    transform:translate(95px, 141px);
                }
                &__wrapper {
                    height:455px;
                    margin-top:-57px;

                    &:before {
                        margin-left:-145px;
                        height:290px;
                        width:290px;
                    }
                }
            }
            .home__grid__item__text {
                padding-bottom:57px;
            }

            &.home__grid__item--crop {
                padding:0 0 80px;

                .home__grid__item__iphone {
                    &__wrapper {
                        height:551px;
                        margin-bottom:-90px;
                    }
                }
                .home__grid__item__text {
                    padding-top:56px;
                }
            }
        }
    }
}
