.WD__products {
    &:after,
    &:before {
        content:"";
        opacity:0;
        @include abs();
        will-change:opacity;
        transform:translate3d(999em, 0, 0);
        transition:none;
        z-index:10;
    }
    &:after {
        @include abs_50(58, 58);
        @include ui-loading(white);
        will-change:opacity, transform;
        z-index:10;
    }
    &:before {
        background-color:rgba($bg_color,.4);
    }
    &__errZoom {
        @include abs();
        @include flex("row", "center", "center");
        margin-left:-101%;
        opacity:0;
        transform:translate3d(0, 0, 0) scale(0.4);
        will-change:opacity, transform;
        transition:none;
        z-index:11;

        &__container {
            display:inline-block;
            vertical-align:top;
            background-color:rgba(#fff,.97);
            font-size:18px;
            line-height:25px;
            max-width:300px;
            padding:17px 30px;
            text-align:center;
            border-radius:18px;
        }
    }
    &__item {
        &--error {
            .WD__products__image {
                @include flex("row", "center", "center");
                background-color:#EE445E;

                &:after {
                    content:"";
                    display:block;
                    width:128px;
                    height:128px;
                    background:url(/public/images/no_photo.svg) no-repeat 0 0 / cover;
                    opacity:0.5;
                    transform:translate3d(0, -48px, 0);
                }
            }
        }
        //&--loading {
            .WD__products__image {
                // background-color:#5D8DE1;
                background-color:#fff;

                &:after {
                    content:"";
                    @include abs_50(58, 58);
                    margin-top:-58px;
                    @include ui-loading();
                    animation:WD__section__spinner 1s infinite linear;
                }
            }
        //}
        &--loaded {
            .WD__products__image {
                background-color:transparent;

                &:after {
                    display:none;
                    animation:none;
                }
            }
        }
    }
    &[data-loading="true"] {
        &:after,
        &:before {
            opacity:1;
            transform:translate3d(0, 0, 0);
            transition:opacity 0.3s $cubic34, transform 0s;
        }
        &:after {
            animation:WD__section__spinner 1s infinite linear;
        }
    }
    &[data-image-error="true"] {
        .WD__products__errZoom {
            margin-left:0;
            opacity:0.97;
            transform:translate3d(0, 0, 0) scale(1);
            transition:opacity 0.3s $cubic34, transform 0.3s $cubic34, margin-left 0s;
        }
    }
}
