.WD__products {
    background:$black_dark;
}
.WD__products__section {
    will-change:opacity, transform;
    transform:translateY(110%) translateZ(0);
}
.WD__products__section__top {
    transform:translateY(0) translateZ(0);
}
.WD__products__section,
.WD__products__section__content {
    @include abs();
    @include accelerate();
}
.WD__products__items {
    @include abs();
    @include accelerate(true);
    overflow:hidden;
    z-index:0;
}
// .WD__products__section__top {
//     height:calc(100% - 44px);
//     top:auto;
//     bottom:0;
// }
.WD__products__item {
    display:none;
    opacity:0;
    @include abs();
    @include accelerate(true);
    will-change:transform, opacity;
    transform-origin:100% 50%;
    overflow:hidden;

    &:after {
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        height:170px;
        background:linear-gradient(to top, rgba($black_gray,.1), rgba(#d7dbe1,0));
        z-index:0;
    }
    &--active {
        display:block;
        will-change:transform, opacity, filter;
    }
}
.WD__products__image__container {
    @include abs();
    z-index:0;
}
.WD__products__image {
    @include abs();
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top center;
}
.WD__products__image--center {
    @include flex("row", "center", "center");
    background:#fff;

    .WD__products__image {
        position:static;
        transform:translate3d(0, -42px, 0);
    }
}
.WD__products__item__sale {
    position:absolute;
    bottom:88px;
    left:70%;
    width:85px;
    height:85px;
    border-radius:50%;
    font-size:22px;
    line-height:85px;
    text-align:center;
    transform:translate3d(-50%, 0, 0);
    background-color:rgba($yellow,.8);
}
.WD__products__back {
    position:absolute;
    top:20px;
    left:15px;
    @include accelerate(true);
    z-index:1;

    &:after {
        content:"";
        @include abs();
        transform:translate3d(-15px, -20px, 0);
        width:200%;
        height:180%;
    }
    &__icon {
        display:block;
        width:36px;
        height:36px;

        &__color {
            fill:rgba(#fff,.6);
        }
    }
}
.WD__products__like {
    position:absolute;
    // top:12px;
    // right:12px;
    // width:42px;
    // height:42px;
    top:16px;
    right:12px;
    width:46px;
    height:46px;
    @include accelerate(true);
    z-index:1;

    &__color {
        fill:rgba(#fff,.6);
    }
}

@media screen and (max-height:480px){
    .WD__products__item__sale {
        bottom:79px;
    }
}
