<div class="WD__callback WD__section">
    <div class="WD__callback__close"></div>
    <div class="WD__callback__wrapper">
        <div class="WD__callback__title" data-text="Введите свой номер">Введите свой номер</div>
        <div class="WD__callback__subtitle"><span>без кода</span> страны (+7)</div>
        <div class="WD__callback__keyboard">
            <div data-number="1" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">1</span>
            </div>
            <div data-number="2" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">2</span>
                <span class="WD__callback__keyboard__char">DEF</span>
            </div>
            <div data-number="3" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">3</span>
                <span class="WD__callback__keyboard__char">DEF</span>
            </div>
            <div data-number="4" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">4</span>
                <span class="WD__callback__keyboard__char">GHI</span>
            </div>
            <div data-number="5" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">5</span>
                <span class="WD__callback__keyboard__char">JKL</span>
            </div>
            <div data-number="6" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">6</span>
                <span class="WD__callback__keyboard__char">MNO</span>
            </div>
            <div data-number="7" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">7</span>
                <span class="WD__callback__keyboard__char">PQRS</span>
            </div>
            <div data-number="8" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">8</span>
                <span class="WD__callback__keyboard__char">TUV</span>
            </div>
            <div data-number="9" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">9</span>
                <span class="WD__callback__keyboard__char">WXYZ</span>
            </div>
            <div class="WD__callback__keyboard__button WD__callback__keyboard__button__call">
                <svg class="WD__callback__keyboard__button__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><path class="WD__callback__keyboard__button__path" d="M88.399,13.561L8.332,44.552c-4.497,1.741-4.434,4.414,0.139,5.942l20.142,6.726l7.824,24.413  c0.936,3.08,3.561,3.738,5.834,1.461l10.728-10.747c0.046-0.046,0.088-0.091,0.132-0.136l19.647,14.855  c3.848,2.91,7.79,1.419,8.76-3.312l13.274-64.756C95.782,14.267,92.896,11.821,88.399,13.561z M75.392,30.886L42.075,62.134  l-0.001,0.001l-0.003,0.003c-0.585,0.551-1.067,1.61-1.136,2.411l0,0L40.048,74.81c-0.448,5.105-1.251,3.328-2.232,0.262  l-6.375-19.634l41.76-26.747C79.66,24.666,79.66,26.983,75.392,30.886z"/></svg>
            </div>
            <div data-number="0" class="WD__callback__keyboard__item">
                <span class="WD__callback__keyboard__number">0</span>
            </div>
            <div class="WD__callback__keyboard__button WD__callback__keyboard__button__backspace">
                <svg class="WD__callback__keyboard__button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path class="WD__callback__keyboard__button__path" d="M 9 7 C 4.0414839 7 0 11.041484 0 16 L 0 34 C 0 38.958516 4.0414839 43 9 43 L 41 43 C 45.958516 43 50 38.958516 50 34 L 50 16 C 50 11.041484 45.958516 7 41 7 L 9 7 z M 9 9 L 41 9 C 44.877484 9 48 12.122516 48 16 L 48 34 C 48 37.877484 44.877484 41 41 41 L 9 41 C 5.1225161 41 2 37.877484 2 34 L 2 16 C 2 12.122516 5.1225161 9 9 9 z M 20.375 15.5 A 1.0001 1.0001 0 0 0 19.78125 15.78125 L 11.28125 24.28125 A 1.0001 1.0001 0 0 0 11.28125 25.71875 L 19.78125 34.21875 A 1.016466 1.016466 0 1 0 21.21875 32.78125 L 14.4375 26 L 40 26 A 1.0001 1.0001 0 1 0 40 24 L 14.4375 24 L 21.21875 17.21875 A 1.0001 1.0001 0 0 0 20.375 15.5 z"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
