<div data-id="{{id}}" data-type="pay" data-who="operator" class="WD__messenger__item WD__messenger__item__operator">
    {{#avatar}}
        <div class="WD__messenger__item__avatar" style="background-image:url({{avatar}})"></div>
    {{/avatar}}
    <div class="WD__messenger__item__pay">
        <div class="WD__messenger__item__pay__title">к оплате</div>
        <div class="WD__messenger__item__pay__price">{{#priceFormat}}{{price}}{{/priceFormat}} ₽</div>
        <div class="WD__messenger__item__pay__text">{{count}} x {{text}}</div>
        <a href="{{url}}" target="_blank" class="WD__messenger__item__pay__button">оплатить</a>
    </div>
    {{#date}}<div class="WD__messenger__item__metadata">{{#dateFormat}}{{date}}{{/dateFormat}}</div>{{/date}}
</div>
