<div class="WD__products__grid" data-massonry="{{masonry}}" data-zoom="{{zoom}}">
    <div class="WD__products__grid__scroll">
        <div class="WD__products__grid__wrapper">
        {{#items}}
            <div class="WD__products__grid__item" data-image="{{image.normal}}">
                <div class="WD__products__grid__item__image__container">
                    <div class="WD__products__grid__item__image"></div>
                </div>
            </div>
        {{/items}}
        </div>
    </div>
    <div class="WD__products__grid__close WD__products__grid__close--active"></div>
</div>
