.WD__messenger__options {
    @include abs();
    @include flex("row", "center", "center");
    transform:translate3d(101%, 0, 0);
    transition:transform 0s 0.45s;
    z-index:20;

    &:before {
        @include abs();
        opacity:0;
        content:"";
        background:rgba($bg_color,.8);
        transition:opacity 0.25s $cubic34 0.12s;
    }
}
.WD__messenger__options__wrapper {
    opacity:0;
    position:relative;
    width:88.8%;
    background:#f4f4f4;
    box-shadow:inset 0 0 96px #fff;
    //background-image:linear-gradient(165deg, lighten(#5d73bc, 2%), lighten(#576cb2, 1.5%));
    border-radius:13px;
    padding:3px 0;
    transform:perspective(500px) scale(0.83);
    transition:opacity 0.2s $cubic34 0.12s, transform 0.2s $cubic34 0.12s;
    z-index:1;
}
.WD__messenger__options__item {
    position:relative;
    height:60px;
    line-height:60px;
    padding:0 15px 0 20px;
    border-top:1px solid #fff;
    border-bottom:1px solid #ededed;
}
.WD__messenger__options__item:first-child {
    border-top:none;
}
.WD__messenger__options__item:last-child {
    height:65px;
    border-bottom:none;
}
.WD__messenger__options__item__title {
    position:relative;
    display:inline-block;
    font-size:20px;
    white-space:nowrap;
    text-overflow:ellipsis;
    max-width:90%;
    overflow:hidden;
    vertical-align:top;
}

.WD__messenger__options--active {
    transition:transform 0s;
    transform:translate3d(0, 0, 0);

    &:before {
        opacity:1;
        transition:opacity 0.25s $cubic215;
    }
    .WD__messenger__options__wrapper {
        opacity:1;
        transform:perspective(500px) scale(1);
        transition:opacity 0.25s $cubic215, transform 0.25s cubic-bezier(0.42, 0, 0.05, 1.25);
    }
}
