[class^="WD__"],
[class^="WD__"] *,
[class^="WD__"] *:after,
[class^="WD__"] *:before {
	box-sizing:border-box;
}
[class^="WD__"] {
	font-family:inherit;
    font-weight:inherit;
	font-size:inherit;
	line-height:inherit;
	user-select:none;
	text-size-adjust:100%;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings:'liga', 'kern';
	-webkit-tap-highlight-color:transparent;
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    padding: 0;
    margin: 0;
    border: 0 none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    letter-spacing: 0;
    float: none;
    text-shadow: none;
    overflow: visible;
    text-align: inherit;
    width: auto;
    height: auto;
    min-width: 0;
    max-width: none;
    min-height: 0;
    max-height: none;
    background: none;
    text-transform: none;
    color: inherit;
    text-indent: 0;
}
html,
body {
	height:100%;
}
.WD__wrapper {
	@include abs();
	font-weight:400;
    font-size:15px;
    line-height:15px;
    font-family:$default;
	overflow:hidden;
	z-index:200000;
}
.m-no-touch {
	body, a {
		cursor: url('/public/images/cursor.png') 32 32, auto;
		// cursor: -webkit-image-set(
		// 	url('/public/images/cursor.png') 1x,
		// 	url('/public/images/cursor@2x.png') 2x
		// ) 32 32, auto;
	}
	body:active,
	a:active {
		cursor: url('/public/images/cursor-active.png') 32 32, auto;
		// cursor: -webkit-image-set(
		// 	url('/public/images/cursor-active.png') 1x,
		// 	url('/public/images/cursor-active@2x.png') 2x
		// ) 32 32, auto;
	}
}
