[class^="WD__"],
[class^="WD__"] *,
[class^="WD__"] *:after,
[class^="WD__"] *:before {
	box-sizing:border-box;
}
[class^="WD__"] {
	font-family:inherit;
    font-weight:inherit;
	font-size:inherit;
	line-height:inherit;
	user-select:none;
	text-size-adjust:100%;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings:'liga', 'kern';
    position: static;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    padding: 0;
    margin: 0;
    border: 0 none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    letter-spacing: 0;
    float: none;
    text-shadow: none;
    overflow: visible;
    text-align: inherit;
    width: auto;
    height: auto;
    min-width: 0;
    max-width: none;
    min-height: 0;
    max-height: none;
    background: none;
    text-transform: none;
    color: inherit;
    text-indent: 0;
}
html,
body {
	height:100%;
}
.m-no-touch {
	body {
		cursor: url('/public/images/cursor.png') 32 32, auto;
		cursor: -webkit-image-set(
			url('/public/images/cursor.png') 1x,
			url('/public/images/cursor@2x.png') 2x
		) 32 32, auto;
	}
	body:active {
		cursor: url('/public/images/cursor-active.png') 32 32, auto;
		cursor: -webkit-image-set(
			url('/public/images/cursor-active.png') 1x,
			url('/public/images/cursor-active@2x.png') 2x
		) 32 32, auto;
	}
}
