<div class="WD__products__item__title">
    <span class="WD__products__item__title__text">{{title}}</span>
</div>
<div class="WD__products__item__price WD__products__item__price--sale">
    {{#price}}{{#price_wrap}}{{price}}{{/price_wrap}} <span class="WD__products__item__price__rub">₽</span>{{/price}}
    {{#priceOld}}<div class="WD__products__item__price WD__products__item__price__old">{{#price_wrap}}{{priceOld}}{{/price_wrap}} <span class="WD__products__item__price__rub">₽</span></div>{{/priceOld}}
</div>
