$first: cubic-bezier(.94,.12,.29,.92);
$second: cubic-bezier(.24,.84,.53,1);

$c1: #3498db;
$c2: #1abc9c;
$c3: #e75c56;
$c4: #fabb74;
$c5: #de6596;

$w: 348px;
$h: 51px;

body { 
    background: #423852;
    overflow: hidden;
}

.container {
    
    position: absolute;
    width: $w;
    margin-left: -$w*0.5;
    top: 41px;
    left: 50%;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    z-index: 1;
    
    .nav * {
        user-select: none;
    }
    
    .nav,
    .nav__item {
        padding:0;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    
    .nav {
        display: flex;
        background: #5C4D6F;
        z-index: 1;
    }
    
    .nav__item {
        
        flex-grow: 1;
        width: 60px;
        padding: 0.8em 0;
        color: rgba(255,255,255,0.5);
        z-index: 3;
        cursor: pointer;
        transition: color 0.4s ease 0.4s;
        
        i {
            font-size: 1.4em;
            font-weight: 100;
            height: $h;
        }
        
        &.selected,
        &:hover {
            color: rgba(255,255,255,1);
        }
        
        &:hover {
            transition: color 0.2s ease;
        }
        
    }

}

.jelly {
    
    background-image: 
        linear-gradient(to right, 
            $c1 0%, $c1 20%,
            $c2 20%, $c2 40%,
            $c3 40%, $c3 60%,
            $c4 60%, $c4 80%,
            $c5 80%, $c5 100%);

    background-attachment: fixed;
    background-position: 50%;
    background-size: $w;

    height: $h;
    top: 0;
    position: absolute;
    transform: translate3d(0px, 0px, 1px);
    transition:
        background 0.1s $first,
        left 0.1s $second,
        right 0.1s $second;
    
    
    &.left {
        transition: 
            background 0.6s $first,
            left 0.6s $first,
            right 0.3s $second 0.35s;
    }
 
    &.right {
        transition:
            background 0.6s $first,
            right 0.6s $first,
            left 0.3s $second 0.35s;
    }
    
}


.iphone {
    background: url(http://2.bp.blogspot.com/-6hlrTw0hxdQ/VA9aSOz9Y1I/AAAAAAAAkXE/BekM0IzyPrU/s1600/Imagenes%2Biphone%2B6%2Bpng%2B3.png);
    background-position: 1px bottom;
    background-size: cover;
    width: 801px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
}

label {
    color:white;
    font-family: ubuntu;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: 100px;
    width: 400px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    
    input {
        position: relative;
        top: 2px;
        margin: 5px;
    }
}

p {
    
    font-family: ubuntu;
    font-weight: 100;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 200px;
    color: #e8dbff;
    
    a { 
        color: #6be1ff; 
        font-weight: bold;
    }
    
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,500);